@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Agbalumo&family=Montserrat:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: white;
}
.container { 
    background-color: rgb(5, 5, 112);
    width: 500px;
    border-radius: 10px;
    margin: 5rem auto;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: Afacad;
}